body {
  background-color: tan;
  font-family: "Colombine Light", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Colombine Light", sans-serif;
  font-size: 40px;
  color: rgb(238, 229, 229);
  margin: 20px;
  padding: 50px;
}

#quote-box {
  margin: auto;
  margin-top: center;
  margin-bottom: auto;
  max-width: 800px;
  width: 400px;
  padding: 50px;  
  background-color: rgb(90, 44, 44);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

#quote-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

#quote {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

#quote.new {
  opacity: 0;
  transform: translateY(-20px);
}

#quote.new.visible {
  opacity: 1;
  transform: translateY(0);
}

#button {
  margin-top: 20px;
  max-width: 800px;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(90, 44, 44);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#button:hover {
  background-color: #444;
}
